.NotFound {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .NotFDText {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    max-height: 500px;
    background-image: url("https://i.pinimg.com/736x/04/51/6c/04516c1b83cc0bc4bf7d740571990956.jpg");

    object-fit: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 49px;

    h1 {
      color: red;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 800%;

      img {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
      }
    }
    a {
      color: red;
      text-decoration: none;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
}
